@charset "UTF-8";

header, header > nav{
    flex-flow: column nowrap;
    margin-right: 10px;
}

header > h1{
    margin-bottom: 0px;
   flex-basis: 40px;
}

header > nav > a{
    width: 90vw;
}

main{
    margin-right: 40px;
}

