$primary-normal:#06121e;
$primary-darc:#040f1a;
$primary-light:#0c2135;

$secundary-normal:#090d11;
$secundary-dark:#06090c;
$secundary-light:#1a1f25;

$blac-normal:#232224;
$blac-darc:#161617;
$blac-light:#353436;

$white-normal:#fff;
$white-darc:#edeaef;
$white-light:#fefbff;

$red-normal:#d94140;
$red-darc:#b42b2b;
$red-light:#d34040;

$red-button:#ea0046;

