
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



i {
    color: $white-normal;
}

.header-icons {
    display: flex;
    gap: 15px;
    font-size: 23px;
}

.header-icons a:hover {
    i {
        
        color: $red-button;
        transform: translate(0px, -5px);
        transition: transform 0.5s;
    }
}



.header-button {
    display: flex;
    position: relative;
    padding: 18px 45px;
    font-family: 'Playpen Sans', cursive;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border: 1px solid $white-normal;
    overflow: hidden;
    cursor: pointer;
    margin-right: 65px;
    text-transform: uppercase;
    border-radius: 7px;
    letter-spacing: 1px;
  }



.header-button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: $red-button;
    z-index: -1;
    transition: all .5s;
  }
  

.header-button::before {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header-button:hover::before {
    height: 375%;
}

.header-button:hover {
    border: 1px solid $red-button;
    /*color: $primary-normal;*/
}

.header-logo {
    display: flex;
    height: 125px;
    margin-top: 45px;
    margin-left: 65px;
}  

@media screen and (max-width:768px) {

    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-logo img {
        width: 100px;
        margin-top: 10px;
        height: 180px;
        margin-top: -30px;
    }

    .header-icons {
        margin-top: 30px;
    }

    i {
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        /*margin-left: 55px;*/
    }

    .header-button {
        display: none;
    }
}

/*=======================================*/

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../assets/bg.svg);
   
    
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}