@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 20px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #1e1e1e;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

.menu-toggle {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media (max-width:700px) {

    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        
    }

    .active {
        display: block;
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        background-color: #1e1e1e;
        padding: 10px 50px;
        text-align: center;
    }

    .active li {
        margin: 15px 0;
    }
    
}


