
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

#btn {
    position: relative;
    width: 200px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

#btn:hover {
    letter-spacing: 6px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}