*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: dodgerblue;
    font-family: 'Roboto', sans-serif;
}

body.dark {
    background-color: #121214;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    background-color: #202024;
    border-radius: 6px;
    border: 1px solid #323238;
}

.fa-brands {
    margin-right: 6px;
}

.fa-solid {
    margin-right: 6px;
}



img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
   /* border: 1px solid #00082f;*/
}

ul {
    list-style: none;
    margin: 40px 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: white;
    font-size: 30PX;
}

p.username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    color: white;
}

.item1 { /*<= ul li a*/
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ff005c ;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* text-transform: uppercase;*/
}

.item1::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: #ff005d36 ;
    z-index: ;
    transition: all .5s;
    top: 0;
    left: 0;
}

/*.item1::before {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    
}*/

.item1:hover::before {
    width: 100%;
}

footer {
    /*font-weight: 600;*/
    font-size: 12px;
    color: #996DFF;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
    font-weight: 600;
}

footer a {
    color: #996DFF;
}

