* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: dodgerblue;
    font-family: 'Roboto', sans-serif;
}

body.dark {
    background-color: #121214;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    background-color: #202024;
    border-radius: 6px;
    border: 1px solid #323238;
}

.fa-brands {
    margin-right: 7px;
    
}

.fa-solid {
    margin-right: 7px;
}







img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
   /* border: 1px solid #00082f;*/
}

ul {
    list-style: none;
    margin: 40px 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: white;
    font-size: 30PX;
}

p.username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    color: white;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #04d361;
    color: white;
    /*text-transform: uppercase;*/
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    /*transition: background 800ms;*/
    transition: background-color, transform 0.4s;
}

ul li a:hover {
    background-color: #04d36146;
    color: white;
    transform: scale(1.09);

}





footer {
    /*font-weight: 600;*/
    font-size: 12px;
    color: #996DFF;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
    font-weight: 600;
}

footer a {
    color: #996DFF;
}

