.s-hero {
    padding-top: 13.5rem;
    padding-bottom: 9.7rem;
    background-image: url("../img/bg-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 80rem;
    background-position-x: 60%;
    
    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .left {
        width: 100%;
        max-width: 78.2rem;
        h1 {
            margin-top: 2.4rem;
            margin-bottom: 1.8rem;
        }
        p {
            font-weight:300 ;
            font-size: 1.6rem;
            line-height: 140%;
            color: #ffffff;
            margin-bottom: 4rem;
        }
        .value {
            display: flex;
            strong {
                background-color: #ffffff;
                padding: 1.8rem 3.6rem;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: #000000;
            }
            a {
                display: block;
                padding: 1.8rem 3.6rem;
                background-color: #3265ea;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: #ffffff;
            }
        }
    }
    .right {
        top: 9rem;
        position: relative;
        width: 100%;
        max-width: 44.3rem;
        span {
            display: block;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 2.2rem;
            margin-bottom: 0.8rem;
        }
        button {
            position: relative;
            width: 100%;
            height: 24.7rem;
            border: 0.2rem solid #3265ea;
            overflow: hidden;
            margin-bottom: 2.5rem;
            right: 22px;/*<==*/
            .thumbnail {
                width: 100%;
            }
            .play {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
            }
           
        }
        .year-old {
            display: flex;
            align-items: center;
            p {
                color: #ffffff;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 2.2rem;
                max-width: 27rem;
                margin-left: 1.5rem;
            }
        }
    }
   
}

.s-info-geral {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    /*display: none;*/
    ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: block;
                text-align: center;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 2.2rem;
                color: #bdc2cb;
                margin-top: 0.6rem;
            }
        }
    }
}

.s-story {
    width: 100%;
    height: 89.5rem;
    padding-top: 15.4rem;
    padding-bottom: 7.4rem;
    background-image: url(../img/bg-story.png);
    background-position: top center;
    background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    /*display: none;*/
    .container {
        display: flex;
        align-items: center;
    }
    .left {
        margin-bottom: 4.5rem;
        width: 100%;
        max-width: 62.9rem;
        h2 {
            margin-top: 2.2rem;
            margin-bottom: 1.8rem;
            max-width: 50.2rem;
        }
        p {
            margin-bottom: 5rem;
        }
        .corp {
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0;
                margin-left: 2rem;
                font-size: 1.2rem;
                line-height: 130%;
            }
        }
    }

    .kratos-atreus {
        position: relative;
        left: 6rem;
        top: -0.2rem;
    }
}

.s-characteres {
    padding-top: 17rem;
    padding-bottom: 13.7rem;
    background-image: url(../img/bg-characters.png);
    background-position: center center;
    overflow: hidden;
    /*display: none;*/
    .description {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left {
            width: 100%;
            max-width: 60.6rem;
            h2 {
                margin-top: 2.2rem;
                margin-bottom: 2rem;
            }
        }
        .right {
            display: flex;
            align-items: center;
            .posi {
                margin-bottom: 0.8rem;
            }
            .text {
                position: relative;
                top: -5rem;
                align-items: center;
                
                span {
                    /*display: block;*/
                    position: relative;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: #ffffff;
                    left: 0.3rem;
                }
            }
        }
    }
}
                        /*Sessão whatsapp */
.whats {
    position: fixed;
    bottom: 42px;
    right: 10px;
    z-index: 9999;
}
                        
.whats {
    /*animation-name: pulsar;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;*/
            /*=======*/
    animation: pulsar 0.8s ease-in-out 1s infinite alternate none running;
}

@keyframes pulsar {
   /* 0% {
        height: 65px;
        width: 65px;
    }
    
    100% {
        height: 85px;
        width: 85px;
    }*/

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

                        /*==================*/