body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #fff;
}

h1 {
    font-size: 3.5em;
}

h1 > span {
   position: relative;
   display: inline-block;
   color: yellow;
   height: 1.25em;
   vertical-align: bottom;
   overflow: hidden;
}

h1 > span .animate > span {
    display: block;
    animation: animateWord 5s infinite ease;
}

h1 > span > span {
    display: block;
    animation: animateWord 5s infinite ease;
}


@keyframes animateWord {
    0% {transform: translateY(0%);}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-200%);}
   
  
}