*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: dodgerblue;
    font-family: 'Roboto', sans-serif;
}

body.dark {
    background-color: #121214;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    background-color: #202024;
    border-radius: 6px;
    border: 1px solid #323238;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
   /* border: 1px solid #00082f;*/
}

ul {
    list-style: none;
    margin: 40px 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: white;
    font-size: 30PX;
}

p.username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    color: white;
}

.fa-brands {
    margin-right: 7px;
}

.fa-solid {
    margin-right: 7px;
}

ul li a { /*<= ul li a*/
    height: 53px;
   /* display: flex;*/
   display: block;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    /*position: relative;*/
    /*overflow: hidden;*/
    cursor: pointer;
    background-color: #323238;
    /*transition: background-color, transform 0.4s;*/
   /* transition:  background-color 400ms;*/
    /*============================================*/
    position: relative;
    display: inline-block;

   
}

/*ul li a:hover {
    border: 1px solid #04d361;
    border-radius: 6px;
    transform: scale(1.08);
}*/
/*============================================*/
a span {
    position: absolute;
    display: block;
    background: #ff005c ;
}

a span:nth-child(1) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.45s;/*<==*/
    transition-delay: 0.45s;
    
}

a:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: transform 0.4s;
}

a span:nth-child(2) {
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform-origin: top;
    transform: scaley(0);
    transition: transform 0.3s;
    transition-delay: 0.3s;
}

a:hover span:nth-child(2) {
    transform: scaley(1);
    transition-delay: 0.1s;
    transition: transform 0.1s;
}

a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform-origin: right;
    transform: scalex(0);
    transition: transform 0.15s;
    transition-delay: 0.15s;
}

a:hover span:nth-child(3) {
    transform: scaleX(1);
    transition-delay: 0.2s;
    transition: transform 0.2s;
}

a span:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform-origin: bottom;
    transform: scaley(0);
    transition: transform 0.2s;
}

a:hover span:nth-child(4) {
    transform: scaley(1);
    transition-delay: 0.3s;
    transition: transform 0.3s;
}
/*============================================*/

footer {
    /*font-weight: 600;*/
    font-size: 12px;
    color: #996DFF;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
    font-weight: 600;
}

footer a {
    color: #996DFF;
}