* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(26, 25, 25);
    font-family: sans-serif;
    padding: 50px ;
    text-align: center;

}

.btn {
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: center ;
    margin-bottom: 50px;
    padding: 10px;
    font-weight: bold;
}

.btn-1 {
    background-color: #b0e611;
    border-radius: 10px;
    border-bottom: 5px solid #5c7a00;
    color: black;
    transition: transform 0.9s;
}

.btn-1:hover {
    background-color: #c8e967;
    box-shadow: 0px 0px 20px #c8e967;
    transform: translate(0px, -5px);
    transition: transform 0.9s;
}

.btn-2 {
    background-color: #33b5e5;
    border-radius: 10px;
    border-bottom: 5px solid #177294;
    color: black;
    transition: transform 0.9s;
}

.btn-2:hover {
    background-color: #56d2ff;
    box-shadow: 0px 0px 20px #56d2ff;
    transform: translate(0px, -5px);
    transition: transform 0.9s;
}

.btn-3 {
    background-color: #f82b2b;
    border-radius: 50px;
    border-bottom: 5px solid #ca0202;
    color: black;
    transition: transform 0.9s;
    color: white;
}

.btn-3:hover {
    background-color: #ff2929;
    box-shadow: 0px 0px 20px #ff2929;
    transform: translate(0px, -5px);
    transition: transform 0.9s;
}