@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.5rem;
    line-height: 1.7;
    color: #070707;
    background: 
    fixed
    linear-gradient(
       transparent,
       #fff 70%, 
    ),
    fixed
    repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
    ),
    fixed
    repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
    )
    #fff;
    padding: 0 2rem;
    text-align: center;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1.5rem;
    cursor: url(../assets/pointer32a.png), auto;
}

h1 {
    font-size: clamp(2.5rem, 2vw + 2rem, 6rem);
    line-height: 1.3;
    font-weight: 900;
    text-transform: uppercase;
    
}

.btn {
    display: inline-block;
    padding: 1rem 4rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: currentColor;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ff8059;
    border-radius: 0.5rem;
    outline: none;
    transition: 0.2s ease-out;
    transition-property: color, background-color;
    margin-top: 30px;
}

.btn:hover,
.btn:focus-visible {
    color: #fff;
    background-color: #ff8059;
}

.pointer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 2rem;
    aspect-ratio: 1;
    background-color: transparent;
    border: 1px solid #ff8059;
    border-radius: 100%;
    pointer-events: none;
    transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0) translate(-60%, -60%);
    transition: 0.3s ease-out;
    transition-property: transform, width, border, background-color;
}

body:has(.btn:hover) .pointer {
    width: 5rem;
    border-color: rgb(0 0 0 / 50%);
    background-color: transparent;
}

#coordinates {
    
    position: fixed;
    top: 0;
    left: 30px;
    z-index: 999;
    pointer-events: none;
    transition-property: transform;
    margin-top: 20px;
    font-size: 20px;
}

/*
@media (hover: hover) and (pointer: fine) {
    .pointer {
        transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0) translate(-50%, -50%);
    }
}
*/

@media (prefers-reduced-motion: reduce) {
    .pointer,
    #coordinates {
        display: none;
    }
}

@media (pointer: coarse) {
    .pointer,
    #coordinates {
        display: none;
    }  
    
}

    


