/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

body {
  background-color: #111;
  font-family: Arial, sans-serif;
}

.header {
  padding: 40px;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  height: 18px; /* 20px ou 24px*/
}

.link span {
  display: block;
  /*transition: transform 0.4s ease, opacity 0.4s ease;*/
  /*transition: all 0.4s ease;*/
  
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  
  /*transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);*/
  /*transition: transform 0.6s ease, opacity 0.6s ease;*/

}

.link span:first-child {
  color: white;
  transform: translateY(0%);
}

.link .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: orange;
  transform: translateY(100%);
}

.link:hover span:first-child {
  transform: translateY(-100%);
  opacity: 0;
  /*transition-delay: 0s;*/
}

.link:hover .hover-text {
  transform: translateY(0%);
  opacity: 1;
  /*transition-delay: 0.04s;*/
}
